<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Address Book</title>
    </head>
    <body>
        <div class='container'>
            <div class='row'>
                {% if list_of_contacts is not empty %}
                    <div class='col-md-6'>
                        <h3>Your Address Book</h3>
                        {% for contact in list_of_contacts %}
                            <ul>
                                <li><strong>{{ contact.getName }}</strong></li>
                                <li><em>Phone</em>: {{ contact.getPhone }}</li>
                                <li><em>Address</em>: {{ contact.getAddress }}</li>
                                <hr />
                            </ul>
                        {% endfor %}
                        <form action='/delete_contacts' method='get'>
                            <button type='submit' class='btn btn-warning'>Clear Address Book</button>
                        </form>
                    </div>
                {% endif %}

                    <div class='col-md-6'>
                        <h3>Create a contact</h3>
                        <form action='/create_contact' method='post'>
                            <div class='form-group'>
                                <label for='name'>Name</label>
                                <input id='name' name='name' type='text' class='form-control'>
                            </div>
                            <div class='form-group'>
                                <label for='phone'>Phone Number</label>
                                <input id='phone' name='phone' type='number' class='form-control'>
                            </div>
                            <div class='form-group'>
                                <label for='address'>Street Address</label>
                                <input id='address' name='address' type='text' class='form-control'>
                            </div>
                            <button type='submit' class='btn btn-success'>Submit</button>
                        </form>
                    </div>
            </div>
            <div class='row'>

            </div>
        </div>
    </body>
</html>
