<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <meta http-equiv="refresh" content="1.5; URL='/'" />
        <title>Contact Added</title>
    </head>
    <body>
        <div class='container'>
                <h3>Thanks for adding a contact.</h3>
                <strong>{{ new_contact.getName }}</strong>
                <ul>
                    <li><em>Phone</em>: {{ new_contact.getPhone }}</li>
                    <li><em>Address</em>: {{ new_contact.getAddress }}</li>
                </ul>
            <p>You will be redirected to your <a href='/'>address book</a> automatically.</p>
        </div>
    </body>
</html>
