<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <meta http-equiv="refresh" content="1.5; URL='/'" />
        <title>Contact Deleted</title>
    </head>
    <body>
        <div class='container'>
            <h3>You have deleted a contact.</h3>
            <p>You will be redirected back to your <a href='/'>address book</a> automatically.</p>
        </div>
    </body>
</html>
