<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <meta http-equiv="refresh" content="3; URL='/'" />
        <title>Address book cleared</title>
    </head>
    <body>
        <h3>Address book cleared!</h3>
        <p>You will be redirected to the <a href='/'>home page</a> automatically.</p>
    </body>
</html>
